[Unit]
Description=CGA Daemon live network
After=network.target

[Service]
Type=simple
User=cgacoin
WorkingDirectory=/var/cgacoin/CGA
ExecStart=/usr/bin/cga_node --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
