[Unit]
Description=CGA Daemon beta network
After=network.target

[Service]
Type=simple
User=cgacoin
WorkingDirectory=/var/cgacoin/CGABeta
ExecStart=/usr/bin/cga_node-beta --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
